{%extends 'base.html'%}
{%block title%}
    Account
{%endblock%}
{%block content%}
    <div class='container'>
        
        Username: {{user.uname}}
        Address: {{user.addr}}
        Email: {{user.email}}
        <a href="{{url_for('update_account')}}" class="btn btn-primary">Update Details</a>
        {%for i in user.books%}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="Photo">
                <div class="card-body">
                <h5 class="card-title">{{i.bname}}</h5>
                <p class="card-text">{{i.isbn}}</p>
                <p class="card-text">{{i.price}}</p>
                <p class="card-text">{{i.cond}}</p>
                <a href="{{url_for('view_book', bid=i.id)}}" class="btn btn-primary">Go somewhere</a>
               </div>
            </div>
        {%endfor%}
    </div>
{%endblock%}